In [2]:
import pandas as pd
import numpy as np

fake_filepath = r"C:\Users\vm658\Documents\SVSM\Research\Code\DataSet_Misinfo_FAKE.csv"
true_filepath = r"C:\Users\vm658\Documents\SVSM\Research\Code\DataSet_Misinfo_TRUE.csv"
df_titles = []

In [3]:
def clean(filepath):
    #opens files
    df_titles = [] 
    file = open(filepath, 'r', encoding="utf8")
    lines = file.readlines()

    for index, line in enumerate(lines): 
        text = line.strip()
        if index > 1:
            #separates the text by the first comma
            data = text.split(",", 1)
            try: 
                num  = int(data[0])
                title = data[1]
                #remove a occurence of any character in a specified set of characters
                #title = title.translate({ord(i): None for i in '"'})
                df_titles.append(title)
            except:
                continue
        file.close()
    return df_titles

In [4]:
fake_df_titles = clean(fake_filepath)
true_df_titles = clean(true_filepath)

In [5]:
fake_df = pd.DataFrame(set(fake_df_titles))
fake_df['True'] = 0
print(len(fake_df))
fake_df.tail(10)

32679

                                                       0  True
32669  "Over fifty thousand signatures have already b...     0
32670  "Share on Facebook Not many people can walk fr...     0
32671  The United States is using the unresolved conf...     0
32672  "The alleged chemical weapons attack in Douma ...     0
32673  "A Texas teacher has been removed from her cla...     0
32674  "The European Parliament has no powers in the EU.     0
32675  "He wants more money? He should find a differe...     0
32676  "As usual Milwaukee s outspoken Sheriff David ...     0
32677  "The shrill, old socialist  Carla Marx wannabe...     0
32678  TUCKER CARLSON Spoke out tonight on the firing...     0

In [6]:
true_df = pd.DataFrame(set(true_df_titles ))
true_df['True'] = 1
print(len(true_df))
true_df.tail(10)

34504

                                                       0  True
34494  "The top Democrat in the U.S. Senate warned Pr...     1
34495  "Republican U.S. Senator Lindsey Graham praise...     1
34496  "Ivanka Trump, U.S. President Donald Trump’s d...     1
34497  "Greenpeace Africa and other NGOs intend to ap...     1
34498  "Yet another seismic shift is taking place in ...     1
34499  "President Donald Trump urged Russia to “rein ...     1
34500  "Vatican treasurer Cardinal George Pell will f...     1
34501  "A member of the Federal Election Commission o...     1
34502  "With ideological extremism on the rise in Con...     1
34503  "ST. JOSEPH, Minn.  —   White ribbons flutter ...     1

In [7]:
#combines the two dataframes
full_df = pd.concat([fake_df,true_df])
#shuffles datasets
#full_df = full_df.sample(frac = 1)
#renames dataset
full_df.rename(columns = {0: "Title", 'True': "True"})

                                                   Title  True
0      "Trump might punish Zelenskyy for not fulfilli...     0
1      "You won t believe this judge and how he berat...     0
2      "54-year-old Dr. Dean Lorich, Associate Direct...     0
3      "Interviews A protester throws a glass bottle ...     0
4      "Any company who puts the safety of myself and...     0
...                                                  ...   ...
34499  "President Donald Trump urged Russia to “rein ...     1
34500  "Vatican treasurer Cardinal George Pell will f...     1
34501  "A member of the Federal Election Commission o...     1
34502  "With ideological extremism on the rise in Con...     1
34503  "ST. JOSEPH, Minn.  —   White ribbons flutter ...     1

[67183 rows x 2 columns]